.user {
    /* Position relative pour le bonus */
    position: relative;
    text-align: center;  
}
.user__name {
    margin-top: .5em;
    font-size: 1.5em;
}
.user__profession {
    margin: .5em auto;
    text-align: center;
}
.user__avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 7em;
    height: 7em;
}
.user__infos {
    text-align: left;  
    padding:var(--spacing-3) 0 var(--spacing-1) 0;
}
.user__info {
    display: flex;    
}
.user__info svg {
    color:var(--icon-color);
    margin-right:1rem;
}
.dark .user__info svg {
    color:var(--dark-icon-color);
}
